# signal pin 
NET	p_spi_cs				LOC = P61;
NET	p_spi_sck			LOC = P64;
NET	p_spi_sdi			LOC = P63;
NET	p_spi_sdo			LOC = P60;
NET	p_fpga_init			LOC = P94;
NET	p_fpga_done			LOC = P7;
NET	p_fpga_prog			LOC = P96;
NET	p_fpga_cclk			LOC = P90 | SLEW = FAST;
NET	p_fpga_din			LOC = P92 | SLEW = FAST;
NET	p_prom_cs			LOC = P82 | SLEW = FAST;
NET	p_prom_sck			LOC = P81 | SLEW = FAST;
NET	p_prom_sdi			LOC = P80 | SLEW = FAST;
NET	p_prom_sdo			LOC = P85;
NET	p_prom_wp			LOC = P86;
NET	p_clk					LOC = P22;
NET	p_mgt_def			LOC = P56;
NET	p_mgt_loss			LOC = P58;
NET	p_mgt_txdis			LOC = P54;
NET	p_mgt_def_l			LOC = P10;
NET	p_mgt_loss_l		LOC = P9;
NET	p_mgt_txdis_l		LOC = P8;
NET	p_cpld_cs			LOC = P13;
NET	p_cpld_sck			LOC = P12;
NET	p_cpld_sdi			LOC = P11;
NET	p_dac_cs<0>			LOC = P39;
NET	p_dac_cs<1>			LOC = P42;
NET	p_dac_cs<2>			LOC = P46;
NET	p_dac_cs<3>			LOC = P52;
NET	p_dac_cs<4>			LOC = P33;
NET	p_dac_sck<0>		LOC = P37;
NET	p_dac_sck<1>		LOC = P41;
NET	p_dac_sck<2>		LOC = P44;
NET	p_dac_sck<3>		LOC = P50;
NET	p_dac_sck<4>		LOC = P34;
NET	p_dac_sdi<0>		LOC = P36;
NET	p_dac_sdi<1>		LOC = P40;
NET	p_dac_sdi<2>		LOC = P43;
NET	p_dac_sdi<3>		LOC = P49;
NET	p_dac_sdi<4>		LOC = P35;
NET	p_bias_cs<0>		LOC = P23;
NET	p_bias_cs<1>		LOC = P32;
NET	p_bias_cs<2>		LOC = P28;
NET	p_bias_cs<3>		LOC = P17;
NET	p_bias_sck<0>		LOC = P19;
NET	p_bias_sck<1>		LOC = P30;
NET	p_bias_sck<2>		LOC = P27;
NET	p_bias_sck<3>		LOC = P16;
NET	p_bias_sdi<0>		LOC = P18;
NET	p_bias_sdi<1>		LOC = P29;
NET	p_bias_sdi<2>		LOC = P24;
NET	p_bias_sdi<3>		LOC = P15;
