# pin assignment

#NET	p_mgt_def				LOC = P21  | IOSTANDARD = LVCMOS25;
#NET	p_mgt_los				LOC = P22  | IOSTANDARD = LVCMOS25;
#NET	p_mgt_txdis				LOC = N22  | IOSTANDARD = LVCMOS25;
#NET	p_mgt_txn				LOC = B2; 
#NET	p_mgt_txp				LOC = B1; 
#NET	p_mgt_rxp				LOC = C4; 
#NET	p_mgt_rxn				LOC = C3; 
NET	p_tcb_clkp				LOC = D6; 
NET	p_tcb_clkn				LOC = D5; 

#NET	p_tcb_clkp				LOC = G11 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE; 
#NET	p_tcb_clkn				LOC = G10 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET	p_tcb_timern			LOC = D10  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_tcb_timerp			LOC = C10  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_tcb_trigp				LOC = A9   | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_tcb_trign				LOC = A8   | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_trigp				LOC = C8   | IOSTANDARD = LVDS_25;
NET	p_adc_trign				LOC = B8   | IOSTANDARD = LVDS_25;
NET	p_adc_dp<0>				LOC = Y18  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<0>				LOC = Y19  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<1>				LOC = AA21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<1>				LOC = AB22 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<2>				LOC = AA20 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<2>				LOC = AB21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<3>				LOC = AA19 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<3>				LOC = AB20 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<4>				LOC = AA18 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<4>				LOC = AB18 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<5>				LOC = W17  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<5>				LOC = Y17  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<6>				LOC = W16  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<6>				LOC = Y16  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<7>				LOC = V15  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<7>				LOC = W15  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<8>				LOC = L16  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<8>				LOC = K17  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<9>				LOC = L19  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<9>				LOC = L20  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<10>			LOC = M17  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<10>			LOC = M18  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<11>			LOC = P16  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<11>			LOC = N17  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<12>			LOC = R17  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<12>			LOC = P17  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<13>			LOC = R16  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<13>			LOC = T16  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<14>			LOC = T15  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<14>			LOC = U15  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<15>			LOC = U16  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<15>			LOC = V17  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<16>			LOC = A20  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<16>			LOC = A21  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<17>			LOC = B20  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<17>			LOC = B21  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<18>			LOC = C19  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<18>			LOC = C20  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<19>			LOC = D19  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<19>			LOC = D20  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<20>			LOC = E17  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<20>			LOC = E18  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<21>			LOC = F18  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<21>			LOC = E19  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<22>			LOC = G18  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<22>			LOC = F19  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<23>			LOC = H17  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<23>			LOC = G17  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<24>			LOC = H9   | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<24>			LOC = H8   | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<25>			LOC = F9   | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<25>			LOC = E9   | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<26>			LOC = F11  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<26>			LOC = F10  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<27>			LOC = H12  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<27>			LOC = G12  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<28>			LOC = G13  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<28>			LOC = F13  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<29>			LOC = E14  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<29>			LOC = D14  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<30>			LOC = F15  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<30>			LOC = F16  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dn<31>			LOC = E16  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_dp<31>			LOC = D17  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_clkp<0>			LOC = W21  | IOSTANDARD = LVDS_25;
NET	p_adc_clkn<0>			LOC = W22  | IOSTANDARD = LVDS_25;
NET	p_adc_clkp<1>			LOC = K18  | IOSTANDARD = LVDS_25;
NET	p_adc_clkn<1>			LOC = J19  | IOSTANDARD = LVDS_25;
NET	p_adc_clkn<2>			LOC = B18  | IOSTANDARD = LVDS_25;
NET	p_adc_clkp<2>			LOC = A19  | IOSTANDARD = LVDS_25;
NET	p_adc_clkn<3>			LOC = G8   | IOSTANDARD = LVDS_25;
NET	p_adc_clkp<3>			LOC = F8   | IOSTANDARD = LVDS_25;
NET	p_adc_cs<0>				LOC = T20  | IOSTANDARD = LVCMOS25; 
NET	p_adc_cs<1>				LOC = M21  | IOSTANDARD = LVCMOS25; 
NET	p_adc_cs<2>				LOC = K21  | IOSTANDARD = LVCMOS25; 
NET	p_adc_cs<3>				LOC = A15  | IOSTANDARD = LVCMOS25; 
NET	p_adc_sck<0>			LOC = N20  | IOSTANDARD = LVCMOS25; 
NET	p_adc_sck<1>			LOC = K22  | IOSTANDARD = LVCMOS25; 
NET	p_adc_sck<2>			LOC = H22  | IOSTANDARD = LVCMOS25; 
NET	p_adc_sck<3>			LOC = A14  | IOSTANDARD = LVCMOS25; 
NET	p_adc_sdi<0>			LOC = T21  | IOSTANDARD = LVCMOS25;
NET	p_adc_sdi<1>			LOC = M22  | IOSTANDARD = LVCMOS25;
NET	p_adc_sdi<2>			LOC = J22  | IOSTANDARD = LVCMOS25;
NET	p_adc_sdi<3>			LOC = C14  | IOSTANDARD = LVCMOS25;
NET	p_drs_pll_lock<0>		LOC = V18  | IOSTANDARD = LVCMOS25;
NET	p_drs_pll_lock<1>		LOC = M20  | IOSTANDARD = LVCMOS25;
NET	p_drs_pll_lock<2>		LOC = B22  | IOSTANDARD = LVCMOS25;
NET	p_drs_pll_lock<3>		LOC = A16  | IOSTANDARD = LVCMOS25;
NET	p_drs_clkp<0>			LOC = W14  | IOSTANDARD = LVDS_25;
NET	p_drs_clkn<0>			LOC = Y14  | IOSTANDARD = LVDS_25;
NET	p_drs_clkp<1>			LOC = V19  | IOSTANDARD = LVDS_25;
NET	p_drs_clkn<1>			LOC = W19  | IOSTANDARD = LVDS_25;
NET	p_drs_clkp<2>			LOC = J16  | IOSTANDARD = LVDS_25;
NET	p_drs_clkn<2>			LOC = J17  | IOSTANDARD = LVDS_25;
NET	p_drs_clkp<3>			LOC = C17  | IOSTANDARD = LVDS_25;
NET	p_drs_clkn<3>			LOC = C18  | IOSTANDARD = LVDS_25;
NET	p_drs_enable<0>		LOC = AB17 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_enable<1>		LOC = N19  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_enable<2>		LOC = D21  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_enable<3>		LOC = G22  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_dwrite<0>		LOC = U17  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_dwrite<1>		LOC = M16  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_dwrite<2>		LOC = C22  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_dwrite<3>		LOC = B16  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_rsrload<0>		LOC = W20  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_rsrload<1>		LOC = K16  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_rsrload<2>		LOC = D16  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_rsrload<3>		LOC = C12  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_srclk<0>			LOC = V20  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_srclk<1>			LOC = J21  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_srclk<2>			LOC = D15  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_srclk<3>			LOC = B12  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_srin<0>			LOC = V22  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_srin<1>			LOC = J20  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_srin<2>			LOC = C15  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_srin<3>			LOC = A11  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_srout				LOC = U20  | IOSTANDARD = LVCMOS25;
#NET	p_drs_srout<0>			LOC = U20  | IOSTANDARD = LVCMOS25;
#NET	p_drs_srout<1>			LOC = H20  | IOSTANDARD = LVCMOS25;
#NET	p_drs_srout<2>			LOC = H14  | IOSTANDARD = LVCMOS25;
#NET	p_drs_srout<3>			LOC = B11  | IOSTANDARD = LVCMOS25;
NET	p_drs_a<0><0>			LOC = Y22  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_a<0><1>			LOC = Y21  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_a<0><2>			LOC = U18  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_a<1><0>			LOC = K19  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_a<1><1>			LOC = L18  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_a<1><2>			LOC = L21  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_a<2><0>			LOC = G16  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_a<2><1>			LOC = B17  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_a<2><2>			LOC = A18  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_a<3><0>			LOC = A13  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_a<3><1>			LOC = B13  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_drs_a<3><2>			LOC = B15  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET	p_disc<0>				LOC = R18  | IOSTANDARD = LVCMOS25;
NET	p_disc<1>				LOC = T19  | IOSTANDARD = LVCMOS25;
NET	p_disc<2>				LOC = T18  | IOSTANDARD = LVCMOS25;
NET	p_disc<3>				LOC = U21  | IOSTANDARD = LVCMOS25;
NET	p_disc<4>				LOC = AA16 | IOSTANDARD = LVCMOS25;
NET	p_disc<5>				LOC = AB16 | IOSTANDARD = LVCMOS25;
NET	p_disc<6>				LOC = AA15 | IOSTANDARD = LVCMOS25;
NET	p_disc<7>				LOC = AB15 | IOSTANDARD = LVCMOS25;
NET	p_disc<8>				LOC = F21  | IOSTANDARD = LVCMOS25;
NET	p_disc<9>				LOC = G20  | IOSTANDARD = LVCMOS25;
NET	p_disc<10>				LOC = G21  | IOSTANDARD = LVCMOS25;
NET	p_disc<11>				LOC = H18  | IOSTANDARD = LVCMOS25;
NET	p_disc<12>				LOC = N18  | IOSTANDARD = LVCMOS25;
NET	p_disc<13>				LOC = P20  | IOSTANDARD = LVCMOS25;
NET	p_disc<14>				LOC = P19  | IOSTANDARD = LVCMOS25;
NET	p_disc<15>				LOC = R19  | IOSTANDARD = LVCMOS25;
NET	p_disc<16>				LOC = E12  | IOSTANDARD = LVCMOS25;
NET	p_disc<17>				LOC = C13  | IOSTANDARD = LVCMOS25;
NET	p_disc<18>				LOC = E13  | IOSTANDARD = LVCMOS25;
NET	p_disc<19>				LOC = F14  | IOSTANDARD = LVCMOS25;
NET	p_disc<20>				LOC = D22  | IOSTANDARD = LVCMOS25;
NET	p_disc<21>				LOC = E21  | IOSTANDARD = LVCMOS25;
NET	p_disc<22>				LOC = E22  | IOSTANDARD = LVCMOS25;
NET	p_disc<23>				LOC = F20  | IOSTANDARD = LVCMOS25;
NET	p_disc<24>				LOC = E8   | IOSTANDARD = LVCMOS25;
NET	p_disc<25>				LOC = D9   | IOSTANDARD = LVCMOS25;
NET	p_disc<26>				LOC = C9   | IOSTANDARD = LVCMOS25;
NET	p_disc<27>				LOC = B10  | IOSTANDARD = LVCMOS25;
NET	p_disc<28>				LOC = A10  | IOSTANDARD = LVCMOS25;
NET	p_disc<29>				LOC = E11  | IOSTANDARD = LVCMOS25;
NET	p_disc<30>				LOC = D11  | IOSTANDARD = LVCMOS25;
NET	p_disc<31>				LOC = D12  | IOSTANDARD = LVCMOS25;
NET	p_temp_scl				LOC = V14  | IOSTANDARD = LVCMOS25;
NET	p_temp_sda				LOC = AA14 | IOSTANDARD = LVCMOS25;
NET	p_cpld_cs				LOC = U22  | IOSTANDARD = LVCMOS25;
NET	p_cpld_sck				LOC = R21  | IOSTANDARD = LVCMOS25;
NET	p_cpld_sdi				LOC = R22  | IOSTANDARD = LVCMOS25;
NET	p_usb_d<0>				LOC = K4   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<1>				LOC = K2   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<2>				LOC = P1   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<3>				LOC = K3   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<4>				LOC = K1   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<5>				LOC = P2   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<6>				LOC = L5   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<7>				LOC = L1   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<8>				LOC = M1   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<9>				LOC = M2   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<10>				LOC = L4   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<11>				LOC = M5   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<12>				LOC = M3   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<13>				LOC = N4   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<14>				LOC = N5   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<15>				LOC = L3   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<16>				LOC = V5   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<17>				LOC = U5   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<18>				LOC = W4   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<19>				LOC = U2   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<20>				LOC = V4   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<21>				LOC = V2   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<22>				LOC = V3   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<23>				LOC = T3   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<24>				LOC = W2   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<25>				LOC = W5   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<26>				LOC = U1   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<27>				LOC = Y3   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<28>				LOC = W1   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<29>				LOC = Y4   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<30>				LOC = Y1   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_d<31>				LOC = AA1  | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_cs					LOC = P4   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_wr					LOC = R3   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_oe					LOC = R4   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_rd					LOC = P5   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_rflag<0>			LOC = N3   | IOSTANDARD = LVCMOS18;
NET	p_usb_rflag<1>			LOC = R1   | IOSTANDARD = LVCMOS18;
NET	p_usb_wflag				LOC = T5   | IOSTANDARD = LVCMOS18;
NET	p_usb_pktend			LOC = N2   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_on					LOC = T1   | IOSTANDARD = LVCMOS18;
NET	p_mid_sel				LOC = H19  | IOSTANDARD = LVCMOS25;
NET	p_mid_sck				LOC = AA3  | IOSTANDARD = LVCMOS18;
NET	p_mid_sdi				LOC = Y2   | IOSTANDARD = LVCMOS18;
NET	p_usb_a<0>				LOC = R2   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_a<1>				LOC = U3   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_usb_pclk				LOC = T4   | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET	p_dram_d<0>				LOC = AB11 | IOSTANDARD = SSTL15;
NET	p_dram_d<1>				LOC = AB13 | IOSTANDARD = SSTL15;
NET	p_dram_d<2>				LOC = V8   | IOSTANDARD = SSTL15;
NET	p_dram_d<3>				LOC = U11  | IOSTANDARD = SSTL15;
NET	p_dram_d<4>				LOC = V7   | IOSTANDARD = SSTL15;
NET	p_dram_d<5>				LOC = T11  | IOSTANDARD = SSTL15;
NET	p_dram_d<6>				LOC = W7   | IOSTANDARD = SSTL15;
NET	p_dram_d<7>				LOC = U10  | IOSTANDARD = SSTL15;
NET	p_dram_d<8>				LOC = AB12 | IOSTANDARD = SSTL15;
NET	p_dram_d<9>				LOC = V12  | IOSTANDARD = SSTL15;
NET	p_dram_d<10>			LOC = W11  | IOSTANDARD = SSTL15;
NET	p_dram_d<11>			LOC = W9   | IOSTANDARD = SSTL15;
NET	p_dram_d<12>			LOC = V13  | IOSTANDARD = SSTL15;
NET	p_dram_d<13>			LOC = T10  | IOSTANDARD = SSTL15;
NET	p_dram_d<14>			LOC = W12  | IOSTANDARD = SSTL15;
NET	p_dram_d<15>			LOC = U12  | IOSTANDARD = SSTL15;
NET	p_dram_dsn<0>			LOC = T13  | IOSTANDARD = DIFF_SSTL15;
NET	p_dram_dsp<0>			LOC = U13  | IOSTANDARD = DIFF_SSTL15;
NET	p_dram_dsn<1>			LOC = Y13  | IOSTANDARD = DIFF_SSTL15;
NET	p_dram_dsp<1>			LOC = AA13 | IOSTANDARD = DIFF_SSTL15;
NET	p_dram_a<0>				LOC = T8   | IOSTANDARD = SSTL15;
NET	p_dram_a<1>				LOC = AA6  | IOSTANDARD = SSTL15;
NET	p_dram_a<2>				LOC = AB7  | IOSTANDARD = SSTL15;
NET	p_dram_a<3>				LOC = AA9  | IOSTANDARD = SSTL15;
NET	p_dram_a<4>				LOC = T6   | IOSTANDARD = SSTL15;
NET	p_dram_a<5>				LOC = Y9   | IOSTANDARD = SSTL15;
NET	p_dram_a<6>				LOC = AB5  | IOSTANDARD = SSTL15;
NET	p_dram_a<7>				LOC = AA8  | IOSTANDARD = SSTL15;
NET	p_dram_a<8>				LOC = AA5  | IOSTANDARD = SSTL15;
NET	p_dram_a<9>				LOC = U7   | IOSTANDARD = SSTL15;
NET	p_dram_a<10>			LOC = AB6  | IOSTANDARD = SSTL15;
NET	p_dram_a<11>			LOC = Y6   | IOSTANDARD = SSTL15;
NET	p_dram_a<12>			LOC = Y7   | IOSTANDARD = SSTL15;
NET	p_dram_a<13>			LOC = R7   | IOSTANDARD = SSTL15;
NET	p_dram_ba<0>			LOC = AA10 | IOSTANDARD = SSTL15;
NET	p_dram_ba<1>			LOC = U6   | IOSTANDARD = SSTL15;
NET	p_dram_ba<2>			LOC = U8   | IOSTANDARD = SSTL15;
NET	p_dram_cs				LOC = AA11 | IOSTANDARD = SSTL15;
NET	p_dram_ras				LOC = V9   | IOSTANDARD = SSTL15;
NET	p_dram_cas				LOC = T9   | IOSTANDARD = SSTL15;
NET	p_dram_we				LOC = AB8  | IOSTANDARD = SSTL15;
NET	p_dram_clke				LOC = AB10 | IOSTANDARD = SSTL15;
NET	p_dram_clkn				LOC = V10  | IOSTANDARD = DIFF_SSTL15;
NET	p_dram_clkp				LOC = W10  | IOSTANDARD = DIFF_SSTL15;
NET	p_dram_odt				LOC = W6   | IOSTANDARD = SSTL15;
NET	p_dram_reset			LOC = Y8   | IOSTANDARD = LVCMOS15;

NET "p_tcb_clkp" TNM_NET = tcb_clkp;
NET "p_tcb_clkn" TNM_NET = tcb_clkn;
TIMESPEC TS1 = PERIOD "tcb_clkp" 11.11 ns high 50% input_jitter 300 ps;
TIMESPEC TS2 = PERIOD "tcb_clkn" TS1    high 50% input_jitter 300 ps;




