# signal pin 

#NET	p_gtx_clkp						LOC = H6;
#NET	p_gtx_clkn						LOC = H5;
#NET	p_gtx_txp						LOC = P2;
#NET	p_gtx_txn						LOC = P1;
#NET	p_gtx_rxp						LOC = R4;
#NET	p_gtx_rxn						LOC = R3;

#NET	p_gtx_def						LOC = G15 | IOSTANDARD = LVTTL;
NET	p_gtx_txdis						LOC = D15 | IOSTANDARD = LVTTL;
#NET	p_gtx_loss						LOC = E15 | IOSTANDARD = LVTTL;

NET	p_tcb_timern<0>				LOC = V8 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<0>				LOC = V7 | IOSTANDARD = LVDS;
NET	p_tcb_timern<1>				LOC = U17 | IOSTANDARD = LVDS_25;
NET	p_tcb_timerp<1>				LOC = T17 | IOSTANDARD = LVDS_25;
NET	p_tcb_timern<2>				LOC = V4 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<2>				LOC = W4 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<3>				LOC = U7 | IOSTANDARD = LVDS;
NET	p_tcb_timern<3>				LOC = V6 | IOSTANDARD = LVDS;
NET	p_tcb_timern<4>				LOC = AB2 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<4>				LOC = AC2 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<5>				LOC = AA4 | IOSTANDARD = LVDS;
NET	p_tcb_timern<5>				LOC = AB4 | IOSTANDARD = LVDS;
NET	p_tcb_timern<6>				LOC = AD1 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<6>				LOC = AE1 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<7>				LOC = AB1 | IOSTANDARD = LVDS;
NET	p_tcb_timern<7>				LOC = AC1 | IOSTANDARD = LVDS;
NET	p_tcb_timern<8>				LOC = AB7 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<8>				LOC = AC7 | IOSTANDARD = LVDS;
NET	p_tcb_timern<9>				LOC = AE6 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<9>				LOC = AE5 | IOSTANDARD = LVDS;
NET	p_tcb_timern<10>				LOC = AC8 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<10>				LOC = AD8 | IOSTANDARD = LVDS;
NET	p_tcb_timern<11>				LOC = AF5 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<11>				LOC = AF4 | IOSTANDARD = LVDS;
NET	p_tcb_timern<12>				LOC = AE12 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<12>				LOC = AF12 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<13>				LOC = AB11 | IOSTANDARD = LVDS;
NET	p_tcb_timern<13>				LOC = AC11 | IOSTANDARD = LVDS;
NET	p_tcb_timern<14>				LOC = AE13 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<14>				LOC = AF13 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<15>				LOC = AD11 | IOSTANDARD = LVDS;
NET	p_tcb_timern<15>				LOC = AE11 | IOSTANDARD = LVDS;
NET	p_tcb_timern<16>				LOC = AA14 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<16>				LOC = AA15 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<17>				LOC = V14 | IOSTANDARD = LVDS;
NET	p_tcb_timern<17>				LOC = W14 | IOSTANDARD = LVDS;
NET	p_tcb_timern<18>				LOC = Y15 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<18>				LOC = Y16 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<19>				LOC = AB14 | IOSTANDARD = LVDS;
NET	p_tcb_timern<19>				LOC = AB15 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<20>				LOC = AC19 | IOSTANDARD = LVDS;
NET	p_tcb_timern<20>				LOC = AD19 | IOSTANDARD = LVDS;
NET	p_tcb_timern<21>				LOC = AC18 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<21>				LOC = AD18 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<22>				LOC = AD21 | IOSTANDARD = LVDS_25;
NET	p_tcb_timern<22>				LOC = AE21 | IOSTANDARD = LVDS_25;
NET	p_tcb_timerp<23>				LOC = AF19 | IOSTANDARD = LVDS;
NET	p_tcb_timern<23>				LOC = AF20 | IOSTANDARD = LVDS;
NET	p_tcb_timern<24>				LOC = AC23 | IOSTANDARD = LVDS_25;
NET	p_tcb_timerp<24>				LOC = AC24 | IOSTANDARD = LVDS_25;
NET	p_tcb_timern<25>				LOC = AB22 | IOSTANDARD = LVDS_25;
NET	p_tcb_timerp<25>				LOC = AC22 | IOSTANDARD = LVDS_25;
NET	p_tcb_timerp<26>				LOC = AB26 | IOSTANDARD = LVDS_25;
NET	p_tcb_timern<26>				LOC = AC26 | IOSTANDARD = LVDS_25;
NET	p_tcb_timerp<27>				LOC = AD23 | IOSTANDARD = LVDS_25;
NET	p_tcb_timern<27>				LOC = AD24 | IOSTANDARD = LVDS_25;
NET	p_tcb_timerp<28>				LOC = V21 | IOSTANDARD = LVDS_25;
NET	p_tcb_timern<28>				LOC = W21 | IOSTANDARD = LVDS_25;
NET	p_tcb_timerp<29>				LOC = W23 | IOSTANDARD = LVDS_25;
NET	p_tcb_timern<29>				LOC = W24 | IOSTANDARD = LVDS_25;
NET	p_tcb_timern<30>				LOC = V23 | IOSTANDARD = LVDS_25;
NET	p_tcb_timerp<30>				LOC = V24 | IOSTANDARD = LVDS_25;
NET	p_tcb_timerp<31>				LOC = W25 | IOSTANDARD = LVDS_25;
NET	p_tcb_timern<31>				LOC = W26 | IOSTANDARD = LVDS_25;
NET	p_tcb_timern<32>				LOC = U24 | IOSTANDARD = LVDS_25;
NET	p_tcb_timerp<32>				LOC = U25 | IOSTANDARD = LVDS_25;
NET	p_tcb_timern<33>				LOC = AE17 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<33>				LOC = AF17 | IOSTANDARD = LVDS;
NET	p_tcb_timerp<34>				LOC = P19 | IOSTANDARD = LVDS_25;
NET	p_tcb_timern<34>				LOC = P20 | IOSTANDARD = LVDS_25;
NET	p_tcb_timerp<35>				LOC = R18 | IOSTANDARD = LVDS_25;
NET	p_tcb_timern<35>				LOC = P18 | IOSTANDARD = LVDS_25;
NET	p_tcb_timern<36>				LOC = M24 | IOSTANDARD = LVDS_25;
NET	p_tcb_timerp<36>				LOC = L24 | IOSTANDARD = LVDS_25;
NET	p_tcb_timerp<37>				LOC = R26 | IOSTANDARD = LVDS_25;
NET	p_tcb_timern<37>				LOC = P26 | IOSTANDARD = LVDS_25;
NET	p_tcb_timern<38>				LOC = M25 | IOSTANDARD = LVDS_25;
NET	p_tcb_timerp<38>				LOC = L25 | IOSTANDARD = LVDS_25;
NET	p_tcb_timerp<39>				LOC = N26 | IOSTANDARD = LVDS_25;
NET	p_tcb_timern<39>				LOC = M26 | IOSTANDARD = LVDS_25;

NET	p_tcb_triggern<0>				LOC = U6 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<0>				LOC = U5 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<1>				LOC = U2 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<1>				LOC = U1 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<2>				LOC = V2 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<2>				LOC = V1 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<3>				LOC = V11 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<3>				LOC = W11 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<4>				LOC = AA3 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<4>				LOC = AA2 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<5>				LOC = AB6 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<5>				LOC = AC6 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<6>				LOC = AD6 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<6>				LOC = AD5 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<7>				LOC = AC4 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<7>				LOC = AC3 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<8>				LOC = AD4 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<8>				LOC = AD3 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<9>				LOC = AE3 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<9>				LOC = AE2 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<10>			LOC = AF3 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<10>			LOC = AF2 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<11>			LOC = AA8 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<11>			LOC = AA7 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<12>			LOC = AF10 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<12>			LOC = AF9 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<13>			LOC = AB12 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<13>			LOC = AC12 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<14>			LOC = Y13 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<14>			LOC = Y12 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<15>			LOC = AA13 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<15>			LOC = AA12 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<16>			LOC = AC13 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<16>			LOC = AD13 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<17>			LOC = AC14 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<17>			LOC = AD14 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<18>			LOC = AF14 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<18>			LOC = AF15 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<19>			LOC = W15 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<19>			LOC = W16 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<20>			LOC = AE18 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<20>			LOC = AF18 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<21>			LOC = AB19 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<21>			LOC = AB20 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<22>			LOC = AB21 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggern<22>			LOC = AC21 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggern<23>			LOC = AD20 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<23>			LOC = AE20 | IOSTANDARD = LVDS;
NET	p_tcb_triggerp<24>			LOC = AE22 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggern<24>			LOC = AF22 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggern<25>			LOC = AE23 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggerp<25>			LOC = AF23 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggern<26>			LOC = AF24 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggerp<26>			LOC = AF25 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggerp<27>			LOC = AA19 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<27>			LOC = AA20 | IOSTANDARD = LVDS;
NET	p_tcb_triggern<28>			LOC = Y25 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggerp<28>			LOC = Y26 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggerp<29>			LOC = U19 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggern<29>			LOC = U20 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggern<30>			LOC = T18 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggerp<30>			LOC = T19 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggern<31>			LOC = U22 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggerp<31>			LOC = V22 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggern<32>			LOC = R16 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggerp<32>			LOC = R17 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggerp<33>			LOC = T22 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggern<33>			LOC = T23 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggern<34>			LOC = T20 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggerp<34>			LOC = R20 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggerp<35>			LOC = T24 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggern<35>			LOC = T25 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggern<36>			LOC = P24 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggerp<36>			LOC = N24 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggerp<37>			LOC = N18 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggern<37>			LOC = M19 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggerp<38>			LOC = M21 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggern<38>			LOC = M22 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggerp<39>			LOC = K25 | IOSTANDARD = LVDS_25;
NET	p_tcb_triggern<39>			LOC = K26 | IOSTANDARD = LVDS_25;

NET	p_adc_triggern<0>				LOC = V3 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<0>				LOC = W3 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<1>				LOC = W10 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<1>				LOC = W9 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<2>				LOC = W6 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<2>				LOC = W5 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<3>				LOC = W1 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<3>				LOC = Y1 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<4>				LOC = Y8 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<4>				LOC = Y7 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<5>				LOC = Y6 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<5>				LOC = Y5 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<6>				LOC = Y3 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<6>				LOC = Y2 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<7>				LOC = AA5 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<7>				LOC = AB5 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<8>				LOC = AE7 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<8>				LOC = AF7 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<9>				LOC = AA9 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<9>				LOC = AB9 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<10>			LOC = AC9 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<10>			LOC = AD9 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<11>			LOC = AE8 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<11>			LOC = AF8 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<12>			LOC = AA10 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<12>			LOC = AB10 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<13>			LOC = AD10 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<13>			LOC = AE10 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<14>			LOC = V9 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<14>			LOC = W8 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<15>			LOC = Y11 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<15>			LOC = Y10 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<16>			LOC = AD15 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<16>			LOC = AE15 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<17>			LOC = V16 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<17>			LOC = V17 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<18>			LOC = AB16 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<18>			LOC = AC16 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<19>			LOC = AD16 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<19>			LOC = AE16 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<20>			LOC = Y17 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<20>			LOC = Y18 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<21>			LOC = AA17 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<21>			LOC = AA18 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<22>			LOC = AB17 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<22>			LOC = AC17 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<23>			LOC = W18 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<23>			LOC = W19 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<24>			LOC = AD25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggern<24>			LOC = AE25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggern<25>			LOC = Y22 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggerp<25>			LOC = AA22 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggerp<26>			LOC = AA23 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggern<26>			LOC = AB24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggern<27>			LOC = AD26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggerp<27>			LOC = AE26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggerp<28>			LOC = W20 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggern<28>			LOC = Y21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggern<29>			LOC = Y23 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggerp<29>			LOC = AA24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggerp<30>			LOC = AA25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggern<30>			LOC = AB25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggerp<31>			LOC = V18 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggern<31>			LOC = V19 | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET	p_adc_triggerp<32>			LOC = U26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggern<32>			LOC = V26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggerp<33>			LOC = R21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggern<33>			LOC = P21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggern<34>			LOC = R22 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggerp<34>			LOC = R23 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggerp<35>			LOC = P16 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggern<35>			LOC = N17 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggern<36>			LOC = P23 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggerp<36>			LOC = N23 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggerp<37>			LOC = R25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggern<37>			LOC = P25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggern<38>			LOC = N21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggerp<38>			LOC = N22 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggerp<39>			LOC = N19 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_adc_triggern<39>			LOC = M20 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET	p_fpga_clkn						LOC = C12 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET	p_fpga_clkp						LOC = C11 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET	p_master_timern				LOC = H9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET	p_master_timerp				LOC = H8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET	p_master_trigger_inn			LOC = G10 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET	p_master_trigger_inp			LOC = G9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET	p_master_trigger_outp		LOC = J11 | IOSTANDARD = LVDS_25;
#NET	p_master_trigger_outn		LOC = J10 | IOSTANDARD = LVDS_25;

NET	p_ext_trigger_in_nim			LOC = J25 | IOSTANDARD = LVTTL;
NET	p_ext_trigger_in_ttl			LOC = H24 | IOSTANDARD = LVTTL;
NET	p_ext_trigger_out				LOC = G25 | IOSTANDARD = LVTTL;

NET	p_usb_d<0>						LOC = D26 | IOSTANDARD = LVTTL;
NET	p_usb_d<1>						LOC = B26 | IOSTANDARD = LVTTL;
NET	p_usb_d<2>						LOC = A22 | IOSTANDARD = LVTTL;
NET	p_usb_d<3>						LOC = E26 | IOSTANDARD = LVTTL;
NET	p_usb_d<4>						LOC = C26 | IOSTANDARD = LVTTL;
NET	p_usb_d<5>						LOC = B22 | IOSTANDARD = LVTTL;
NET	p_usb_d<6>						LOC = E25 | IOSTANDARD = LVTTL;
NET	p_usb_d<7>						LOC = D25 | IOSTANDARD = LVTTL;
NET	p_usb_d<8>						LOC = A24 | IOSTANDARD = LVTTL;
NET	p_usb_d<9>						LOC = B24 | IOSTANDARD = LVTTL;
NET	p_usb_d<10>						LOC = F25 | IOSTANDARD = LVTTL;
NET	p_usb_d<11>						LOC = D24 | IOSTANDARD = LVTTL;
NET	p_usb_d<12>						LOC = C24 | IOSTANDARD = LVTTL;
NET	p_usb_d<13>						LOC = D23 | IOSTANDARD = LVTTL;
NET	p_usb_d<14>						LOC = E23 | IOSTANDARD = LVTTL;
NET	p_usb_d<15>						LOC = B25 | IOSTANDARD = LVTTL;
NET	p_usb_d<16>						LOC = E18 | IOSTANDARD = LVTTL;
NET	p_usb_d<17>						LOC = D19 | IOSTANDARD = LVTTL;
NET	p_usb_d<18>						LOC = A17 | IOSTANDARD = LVTTL;
NET	p_usb_d<19>						LOC = B19 | IOSTANDARD = LVTTL;
NET	p_usb_d<20>						LOC = D18 | IOSTANDARD = LVTTL;
NET	p_usb_d<21>						LOC = A18 | IOSTANDARD = LVTTL;
NET	p_usb_d<22>						LOC = C18 | IOSTANDARD = LVTTL;
NET	p_usb_d<23>						LOC = B20 | IOSTANDARD = LVTTL;
NET	p_usb_d<24>						LOC = C17 | IOSTANDARD = LVTTL;
NET	p_usb_d<25>						LOC = E17 | IOSTANDARD = LVTTL;
NET	p_usb_d<26>						LOC = A19 | IOSTANDARD = LVTTL;
NET	p_usb_d<27>						LOC = F17 | IOSTANDARD = LVTTL;
NET	p_usb_d<28>						LOC = B17 | IOSTANDARD = LVTTL;
NET	p_usb_d<29>						LOC = D16 | IOSTANDARD = LVTTL;
NET	p_usb_d<30>						LOC = B16 | IOSTANDARD = LVTTL;
NET	p_usb_d<31>						LOC = E16 | IOSTANDARD = LVTTL;
NET	p_usb_cs							LOC = C22 | IOSTANDARD = LVTTL;
NET	p_usb_wr							LOC = D21 | IOSTANDARD = LVTTL;
NET	p_usb_oe							LOC = E21 | IOSTANDARD = LVTTL;
NET	p_usb_rd							LOC = E22 | IOSTANDARD = LVTTL;
NET	p_usb_rflag<0>					LOC = C23 | IOSTANDARD = LVTTL;
NET	p_usb_rflag<1>					LOC = B21 | IOSTANDARD = LVTTL;
NET	p_usb_wflag						LOC = E20 | IOSTANDARD = LVTTL;
NET	p_usb_pktend					LOC = A23 | IOSTANDARD = LVTTL;
NET	p_usb_on							LOC = A20 | IOSTANDARD = LVTTL;
#NET	p_mid_sck						LOC = F15 | IOSTANDARD = LVTTL;
#NET	p_mid_sdi						LOC = C16 | IOSTANDARD = LVTTL;
NET	p_usb_a<0>						LOC = C21 | IOSTANDARD = LVTTL;
NET	p_usb_a<1>						LOC = C19 | IOSTANDARD = LVTTL;
NET	p_usb_pclk						LOC = D20 | IOSTANDARD = LVTTL;

NET	p_led_cs							LOC = G26 | IOSTANDARD = LVTTL;
NET	p_led_sck						LOC = H26 | IOSTANDARD = LVTTL;
NET	p_led_sdi						LOC = J26 | IOSTANDARD = LVTTL;


# timing constraints
net "p_fpga_clkn" tnm_net = p_fpga_clkn;
net "p_fpga_clkp" tnm_net = p_fpga_clkp;
timespec ts_clkp = period "p_fpga_clkn" 8.0 ns high 50% input_jitter 300 ps;
timespec ts_clkn = period "p_fpga_clkp" ts_clkp high 50% input_jitter 300 ps;
